---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const socials = [
  {
    name: "Github",
    link: "https://github.com/jalvsaker",
    icon: "mdi:github",
  },
  {
    name: "Linkedin",
    link: "https://www.linkedin.com/in/jens-aalbu-alvsaker/",
    icon: "mdi:linkedin",
  },
];

const projects = [
  {
    name: "Departure-board",
    link: "https://departureboard-jalvsaker.vercel.app",
    repo: "https://github.com/jalvsaker/departure-board",
  },
  {
    name: "EU-kontroll",
    link: "https://eukontroll.vercel.app",
    repo: "https://github.com/jalvsaker/sveltekit-eukontroll",
  },
  {
    name: "PG6301 Exam",
    link: "https://pg6301exam-1038.onrender.com",
    repo: "https://github.com/jalvsaker/pg6301exam",
  },
];
---

<Layout title="jalvsaker">
  <div class="flex flex-col items-center gap-3">
    <Icon name="mdi:terminal" class="text-8xl" />
    <h1 class="text-2xl font-semibold">Jens Aalbu Alvsåker</h1>
    <div class="flex gap-2">
      {
        socials.map((s) => (
          <Link href={s.link} aria-label={s.name + " link"}>
            <Icon name={s.icon} class="inline text-3xl" />
          </Link>
        ))
      }
    </div>
    <h2 class="text-xl">Check out some of my projects:</h2>
    <ul class="list-disc">
      {
        projects.map((p) => (
          <li class="my-1">
            <Link href={p.link}>{p.name}</Link>
            <Link href={p.repo} aria-label="Github repo">
              <Icon name="mdi:github" class="inline align-top text-2xl" />
            </Link>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
